<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <% const seconds = quiz[0].time_limit %>
  <div class="timer"><%= quiz[0].time_limit %></div>
  <script>
    $(() => {
      const settime = function() {
        const inputSeconds = parseInt($('.timer').html());
        const minutes = Math.floor(inputSeconds / 60).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})
        const seconds = (inputSeconds % 60).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
        $("#minutes").html(minutes);
        $("#seconds").html(seconds);
      };
      settime();
    })
  </script>
  <body>
    <%- include('partials/_header') %>
    <main class="results-page">
    <section class="title-author-description">
        <div class="quiz-name"><%= quiz[0].title %></div>
        <div class="quiz-author">By <%= quiz[0].name %></div>
        <div class="description"><%= quiz[0].description %></div>
    </section>


      <div class="start-time">
          <button class="start">START!</button>
        <!-- <div class="timer"><% quiz[0].time_limit %></div> -->
        <div class="actualTimer">
          <div id="minutes"></div>
          :
          <div id="seconds"></div>
        </div>
      </div>
      <input id="hidden" type="hidden" value="<%= quizId %>">

      <section id="quiz-questions">
        <form id="quiz">
              <% for (const option in questions) { %>
                <div class="quizQuestionAttempt"><%= questions[option].question %>
                    <% for (const choice of questions[option].choices) { %>
                      <label id="optionRadio">
                        <input type="radio" id="option" name="<%= questions[option].question_id %>" value="<%= choice %>">
                        <span class="choiceOption"><%= choice %></span>
                      </label>


                      <% } %>
                <% } %>
            </div>
          </form>
                <h1 id="results"></h1>
      </section>
    </main>
    <input class="submit-answers" type="submit" value="Submit">
    <button id="shareButton">Share your results!</button>
  </body>
</html>

