<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_header') %>
    <main class="results-page">
    <section class="title-author-description">
        <div class="quiz-name"><%= quiz[0].title %></div>
        <div class="quiz-author">By <%= quiz[0].name %></div>
        <div class="description"><%= quiz[0].description %></div>
    </section>

      <div class="start-time">
          <button class="start">START!</button>
        <div class="timer">00:00:00</div>
      </div>
      <input id="hidden" type="hidden" value="<%= quizId %>">

      <section id="quiz-questions">
        <form id="quiz">
              <% for (const option in questions) { %>
                <div class="question"><%= questions[option].question %>
                    <% for (const choice of questions[option].choices) { %>
                      <input type="radio" id="option" name="<%= questions[option].question_id %>" value="<%= choice %>">
                      <label for="option"><%= choice %></label>
                      <%console.log(choice)%>
                      <% } %>
                <% } %>
            </div>
          </form>
                <h1 id="results"></h1>
      </section>
    </main>
    <input class="submit-answers" type="submit" value="Submit">
    <button id="shareButton">Share your results!</button>
  </body>
</html>

