<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_header') %>
    <header class="title-author-description">
      <div class="title-author">

        <div class="quiz-name"><%= quiz[0].title %></div>
        <div class="quiz-author">By <%= quiz[0].name %></div>
        <div class="description"><% quiz[0].description %></div>
      </div>

    </header>
    <section>
      <div class="start-time">
          <button class="start">START!</button>
        <div class="timer">00:00:00</div>
      </div>
      <h3 id="results"></h3>
      <input id="hidden" type="hidden" value="<%= quizId %>">

      <main id="quiz-questions">
        <form id="quiz">
          <% let questionCounter = 0 %>
          <% let numOfOptions = 0 %>
          <% let uniqueQuestions = [] %>
          <% for (const options of quiz) { %>
            <% if (!uniqueQuestions.includes(options.question)) { %>
                <% uniqueQuestions.push(options.question) %>
              <% } %>
          <% } %>
          <% for (let counter = 0; counter < uniqueQuestions.length; counter++) { %>
            <div class="question"><%= quiz[questionCounter].question %>

            <% for (const option in quiz) { %>
              <% if (quiz[option].question_id === counter + 1) { %>
                  <% numOfOptions++ %>
                  <input type="radio" id="option" name="<%= quiz[option].question_id %>" value="<%= quiz[option].option %>">
                  <label for="option"><%= quiz[option].option %></label>
                <% } %>
                <% } %>
              <% questionCounter += numOfOptions %>
              <% numOfOptions = 0 %>
          <% } %>
            </div>
          </div>
        </form>
      </main>
    </section>
    <input class="submit-answers" type="submit" value="Submit">
  </body>
</html>

