<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
      <section class="category-filter">
        <div class="cat">
          <button class="cat-name">Science</button>
          <button class="cat-name">History</button>
          <button class="cat-name">Movies</button>
          <button class="cat-name">Music</button>
          <button class="cat-name">Pop Culture</button>
          <button class="cat-name">Video Games</button>
        </div>
        <div class="cat">
          <button class="cat-name">Geography</button>
          <button class="cat-name">Sports</button>
          <button class="cat-name">Language</button>
          <button class="cat-name">Books</button>
          <button class="cat-name">Food</button>
          <button class="cat-name">Miscellaneous</button>
        </div>
      </section>
      <main class="container">
        <div class="container1">
          <aside class="featured-quiz" id="<%= featured.id %>">
            <a href="/quiz/<%= featured.id %>">
              <div class="featured-overlay"> featured quiz</div>
              <div class="quiz-image">
                <img src="<%= featured.photo_url %>">
                <div class="quiz-name-overlay">
                  <%= featured.title %>
                </div>
              </div>
              <footer class="label">
                <div>
                  <%= featured.category %>
                </div>
                <div>
                  <%= featured.author %>
                </div>
              </footer>
            </a>
          </aside>
        </div>
        <div class="container2">
          <div class="standard-quiz">
            <% for (let quiz of quizzes) { %>
              <a href="/quiz/<%= quiz.id %>">
                <article class="quiz-thumbnail" id="<%= quiz.id %>">
                  <div class="quiz-image">
                    <img src="<%= quiz.photo_url %>">
                    <div class="quiz-name-overlay">
                      <%= quiz.title %>
                    </div>
                  </div>
                  <footer class="label">
                    <div class="quiz-category"><%= quiz.category %></div>
                    <div>
                      <%= quiz.author %>
                    </div>
                  </footer>
                </article>
              </a>
              <% } %>
          </div>
        </div>

        <article  class="modal hidden" id="modal">
          <div class="modal_head">
            <h1 class="logo">ThinkFast</h1>
          </div>
          <div class="modal_body">
            <h1>Quiz Name</h1>
            <h4>See how [user_name] did on this quiz!</h4>
            <h2>user Score X/Y</h2>
            <h2>100%</h2>
            <button> Try this quiz</button>
          </div>

        </article>


      </main>
  </body>

</html>
