<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>

    <main class="users">
      <section class="user-panel" id="profile">
        <img src="http://sancarlosblog.agentfire2.com/wp-content/uploads/sites/455/2016/03/quiz-1024x1024.jpg" id="profile-img">
        <h2><%= user.name %></h2>
        <h3><%= user.email %></h3>
      </section>
      <section class="user-panel" id="quizzes">
        <h2>My Quizzes</h2>
        <section id="user-quizzes">
          <!-- <div class="row"> -->
            <!-- <div class="column">HELLO</div>
            <div class="column">HELLO</div> -->
            <% for (let quiz of userQuizzes) { %>

              <article class="column">
                <img class="quiz-photo" src="<%= quiz.photo_url %>" alt="">
                <div class="quiz-info">
                  <p><%= quiz.title %></p>
                  <p><%= quiz.category %></p>
                </div>
              </article>
              <% } %>
          <!-- </div> -->
        </section>
      </section>
      <section class="user-panel" id="history">
        <h2>My History</h2>
        <section id="user-history">

          <% for (let quiz of userHistory) { %>
            <article class="history-column">
              <img class="quiz-photo" src="<%= quiz.photo_url %>" alt="">
              <div class="quiz-info">
                <p><%= quiz.title %></p>
                <p><%= quiz.category %></p>
              </div>
            </article>
          <% } %>
        </section>
      </section>
    </main>
  </body>

</html>
